/* body > * {
    border: 1px solid black;
} */

body {
    background-color: lavender;
    font-family: monospace;
    display: grid;
    grid-template-areas:
    "header header"
    "dropdown ."
    "displayInfo displayInfo"
    "review review";
    grid-gap: 10px;
    width: 75%;
    margin: 10px auto;
}

header {
    background-color: skyblue;
    /* grid-template-columns: 1fr 1fr; */
    display: grid;
    grid-area: header;
    grid-template-areas: "image title";
}

header img {
    width: 300px;
}

#dropdown {
    grid-area: dropdown;
    text-align: center;
}

#display-info {
    grid-area: displayInfo;
    min-height: 50px;
}

#dropdown select {
    width: 200px;
}

#review {
    grid-area: review;
    text-align: center;
}

#review input[type=submit] {
    width: 200px;
}

#dropdown, #display-info, #review {
    padding: 10px;
}